<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("Digger-logo.png", class:"digger-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='検索'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to image_tag('post_icon.png', class: "video-post"), new_video_path %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= image_tag(current_user.profile.image, class: "profile-image", id: "lists") %></li>
      <ul class="show-lists hidden" id="pull-down">
        <li class="pull-down-list"><%= link_to current_user.profile.nickname, profile_path(current_user.profile.id) %></li>
        <li class="pull-down-list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li class="pull-down-list">リスト3</li>
        <li class="pull-down-list">リスト4</li>
      </ul>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>